p {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
.italico{
    font-family: sans-serif;
    color: aquamarine;
    font-style: italic;
}
#negrito{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: chocolate;
    font-weight: bold;
}