p {
    margin: 15px;
    padding: 2px;
    border: 1px solid black;
}

.inline {
    display: inline;
}

.block {
    display: block;
}
.inlineblock {
    display: inline-block;
}

.display-block{
    display: block;
    height: 200px;
    background-color: blue;
    border: 1px solid black;
    font-weight: bold;
}

.display-inline{
    display: inline;
    background-color: green;
    border: 1px solid black; 
    font-weight: bold;
}
.display-inline-block{
    display: inline-block;
    background-color: gray;
    border: 1px solid black; 
    font-weight: bold;  
    margin-top: 30px;
}