p{
    text-align: justify;
}
.header{
    background-color: yellow;
    position: sticky; /*Mantem o menu Fixo no topo do site*/
    position: -webkit-sticky; /*definir duas propriedades iguais para atender todos os navegadores*/
    top: 0; /*posicinar o elemento no topo da pagina*/
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
}
.relativo{
    position: relative;
    height: 100px;  
    background-color: blue;
}
.absoluto{
    position: absolute;
    height: 50px;
    background-color: red;
    top: 2px;
    right: 10px;
    width: 20px;
}
.fixo{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: yellow;
}