.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr ;
}

.header {
    background-color: lightblue;
    padding: 20px;
    grid-column: 1 / -1; /*esta propriedade define que o header tem que ocupar toda a linha */
}

.sidebar {
    background-color: aqua;
    padding: 20px;
}

.conteudo {
    background-color: lightgrey;
    padding: 20px;
}